In [1]:
import pandas as pd
import cartoframes
import json

USERNAME = json.loads(open('credentials.json').read())['username']
APIKEY = json.loads(open('credentials.json').read())['api_key']

### df from query without table (no linkage)

In [2]:
df_from_query = pd.read_carto(username=USERNAME,
                              api_key=APIKEY,
                              query='SELECT * FROM all_month_3 LIMIT 10')
df_from_query.head(2)

,cartodb_id,created_at,depth,dmin,gap,id,latitude,longitude,mag,magtype,net,nst,place,rms,the_geom,the_geom_webmercator,time,type,updated,updated_at
0,601,2015-02-17 18:36:45,8.5026,0.045,81.77000,nn00482982,39.3918,-119.8228,0.22,ml,nn,11.0,"15km S of Reno, Nevada",0.1353,0101000020E610000086C954C1A8F45DC052499D8026B2...,0101000020110F00000D079BA2FE7069C1A5D4B27DF739...,2015-02-15 01:35:33,earthquake,2015-02-15 17:21:54,2015-02-17 18:36:45
1,1287,2015-02-17 18:36:45,25.6000,NaN,248.39998,ak11509593,53.6875,-164.4147,2.30,ml,ak,15.0,"102km ESE of Akutan, Alaska",0.3500,0101000020E6100000D734EF38458D64C00000000000D8...,0101000020110F0000CA46ED0A667471C1535C38528620...,2015-02-12 11:25:16,earthquake,2015-02-16 20:58:06,2015-02-17 18:36:45

### metadata should be empty

In [3]:
df_from_query._metadata

[]

### as a result, maps should error with message about how to link with carto

In [4]:
df_from_query.carto_map(interactive=True)

Exception: DataFrame not linked to CARTO. Use `DataFrame.sync_carto()` with a new tablename.

### link to carto with new tablename

In [6]:
df_from_query.sync_carto(username=USERNAME,
                         api_key=APIKEY,
                         requested_tablename='cartoframe_from_query_test_march_13',
                         is_org_user=True,
                         debug=True)

dtype: int64, colname: cartodb_id
dtype: datetime64[ns], colname: created_at
dtype: float64, colname: depth
dtype: float64, colname: dmin
dtype: float64, colname: gap
dtype: object, colname: id
dtype: float64, colname: latitude
dtype: float64, colname: longitude
dtype: float64, colname: mag
dtype: object, colname: magtype
dtype: object, colname: net
dtype: float64, colname: nst
dtype: object, colname: place
dtype: float64, colname: rms
dtype: object, colname: the_geom
dtype: object, colname: the_geom_webmercator
dtype: datetime64[ns], colname: time
dtype: object, colname: type
dtype: datetime64[ns], colname: updated
dtype: datetime64[ns], colname: updated_at
{'cartodb_id': 'int', 'created_at': 'date', 'depth': 'numeric', 'dmin': 'numeric', 'gap': 'numeric', 'id': 'text', 'latitude': 'numeric', 'longitude': 'numeric', 'mag': 'numeric', 'magtype': 'text', 'net': 'text', 'nst': 'numeric', 'place': 'text', 'rms': 'numeric', 'the_geom': 'geometry', 'the_geom_webmercator': 'geometry', 'time': 'date', 'type': 'text', 'updated': 'date', 'updated_at': 'date'}
cartodb_id int, created_at date, depth numeric, dmin numeric, gap numeric, id text, latitude numeric, longitude numeric, mag numeric, magtype text, net text, nst numeric, place text, rms numeric, the_geom geometry, the_geom_webmercator geometry, time date, type text, updated date, updated_at date

        CREATE TABLE "cartoframe_from_query_test_march_13"(cartodb_id int, created_at date, depth numeric, dmin numeric, gap numeric, id text, latitude numeric, longitude numeric, mag numeric, magtype text, net text, nst numeric, place text, rms numeric, the_geom geometry, the_geom_webmercator geometry, time date, type text, updated date, updated_at date);
        SELECT CDB_CartodbfyTable('eschbacher', 'cartoframe_from_query_test_march_13');

{'rows': [{'cdb_cartodbfytable': 'cartoframe_from_query_test_march_13'}], 'time': 0.289, 'fields': {'cdb_cartodbfytable': {'type': 'regclass'}}, 'total_rows': 1, 'notices': ['trigger "track_updates" for relation "cartoframe_from_query_test_march_13" does not exist, skipping', 'trigger "update_the_geom_webmercator_trigger" for relation "cartoframe_from_query_test_march_13" does not exist, skipping', 'trigger "test_quota" for relation "cartoframe_from_query_test_march_13" does not exist, skipping', 'trigger "test_quota_per_row" for relation "cartoframe_from_query_test_march_13" does not exist, skipping']}
final_tablename: cartoframe_from_query_test_march_13
self has 10 rows
insert_stem: INSERT INTO cartoframe_from_query_test_march_13(cartodb_id,created_at,depth,dmin,gap,id,latitude,longitude,mag,magtype,net,nst,place,rms,the_geom,the_geom_webmercator,time,type,updated,updated_at) VALUES
dtype: int64, colname: 601
int, cartodb_id, 601
item: 601, dtype: int
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, created_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
dtype: float64, colname: 8.5026
numeric, depth, 8.5026
item: 8.5026, dtype: numeric
dtype: float64, colname: 0.045
numeric, dmin, 0.045
item: 0.045, dtype: numeric
dtype: float64, colname: 81.77
numeric, gap, 81.77
item: 81.77, dtype: numeric
dtype: object, colname: nn00482982
text, id, nn00482982
item: nn00482982, dtype: text
dtype: float64, colname: 39.3918
numeric, latitude, 39.3918
item: 39.3918, dtype: numeric
dtype: float64, colname: -119.8228
numeric, longitude, -119.8228
item: -119.8228, dtype: numeric
dtype: float64, colname: 0.22
numeric, mag, 0.22
item: 0.22, dtype: numeric
dtype: object, colname: ml
text, magtype, ml
item: ml, dtype: text
dtype: object, colname: nn
text, net, nn
item: nn, dtype: text
dtype: float64, colname: 11.0
numeric, nst, 11.0
item: 11.0, dtype: numeric
dtype: object, colname: 15km S of Reno, Nevada
text, place, 15km S of Reno, Nevada
item: 15km S of Reno, Nevada, dtype: text
dtype: float64, colname: 0.1353
numeric, rms, 0.1353
item: 0.1353, dtype: numeric
dtype: object, colname: 0101000020E610000086C954C1A8F45DC052499D8026B24340
text, the_geom, 0101000020E610000086C954C1A8F45DC052499D8026B24340
item: 0101000020E610000086C954C1A8F45DC052499D8026B24340, dtype: text
dtype: object, colname: 0101000020110F00000D079BA2FE7069C1A5D4B27DF7395241
text, the_geom_webmercator, 0101000020110F00000D079BA2FE7069C1A5D4B27DF7395241
item: 0101000020110F00000D079BA2FE7069C1A5D4B27DF7395241, dtype: text
dtype: datetime64[ns], colname: 2015-02-15 01:35:33
date, time, 2015-02-15 01:35:33
item: 2015-02-15 01:35:33, dtype: date
dtype: object, colname: earthquake
text, type, earthquake
item: earthquake, dtype: text
dtype: datetime64[ns], colname: 2015-02-15 17:21:54
date, updated, 2015-02-15 17:21:54
item: 2015-02-15 17:21:54, dtype: date
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, updated_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
row_num: 0, row: (0, cartodb_id                                                            601
created_at                                            2015-02-17 18:36:45
depth                                                              8.5026
dmin                                                                0.045
gap                                                                 81.77
id                                                             nn00482982
latitude                                                          39.3918
longitude                                                        -119.823
mag                                                                  0.22
magtype                                                                ml
net                                                                    nn
nst                                                                    11
place                                              15km S of Reno, Nevada
rms                                                                0.1353
the_geom                0101000020E610000086C954C1A8F45DC052499D8026B2...
the_geom_webmercator    0101000020110F00000D079BA2FE7069C1A5D4B27DF739...
time                                                  2015-02-15 01:35:33
type                                                           earthquake
updated                                               2015-02-15 17:21:54
updated_at                                            2015-02-17 18:36:45
Name: 0, dtype: object)
dtype: int64, colname: 1287
int, cartodb_id, 1287
item: 1287, dtype: int
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, created_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
dtype: float64, colname: 25.6
numeric, depth, 25.6
item: 25.6, dtype: numeric
dtype: float64, colname: nan
numeric, dmin, nan
item: nan, dtype: numeric
dtype: float64, colname: 248.399980128001
numeric, gap, 248.399980128001
item: 248.399980128001, dtype: numeric
dtype: object, colname: ak11509593
text, id, ak11509593
item: ak11509593, dtype: text
dtype: float64, colname: 53.6875
numeric, latitude, 53.6875
item: 53.6875, dtype: numeric
dtype: float64, colname: -164.4147
numeric, longitude, -164.4147
item: -164.4147, dtype: numeric
dtype: float64, colname: 2.3
numeric, mag, 2.3
item: 2.3, dtype: numeric
dtype: object, colname: ml
text, magtype, ml
item: ml, dtype: text
dtype: object, colname: ak
text, net, ak
item: ak, dtype: text
dtype: float64, colname: 15.0
numeric, nst, 15.0
item: 15.0, dtype: numeric
dtype: object, colname: 102km ESE of Akutan, Alaska
text, place, 102km ESE of Akutan, Alaska
item: 102km ESE of Akutan, Alaska, dtype: text
dtype: float64, colname: 0.35
numeric, rms, 0.35
item: 0.35, dtype: numeric
dtype: object, colname: 0101000020E6100000D734EF38458D64C00000000000D84A40
text, the_geom, 0101000020E6100000D734EF38458D64C00000000000D84A40
item: 0101000020E6100000D734EF38458D64C00000000000D84A40, dtype: text
dtype: object, colname: 0101000020110F0000CA46ED0A667471C1535C385286205B41
text, the_geom_webmercator, 0101000020110F0000CA46ED0A667471C1535C385286205B41
item: 0101000020110F0000CA46ED0A667471C1535C385286205B41, dtype: text
dtype: datetime64[ns], colname: 2015-02-12 11:25:16
date, time, 2015-02-12 11:25:16
item: 2015-02-12 11:25:16, dtype: date
dtype: object, colname: earthquake
text, type, earthquake
item: earthquake, dtype: text
dtype: datetime64[ns], colname: 2015-02-16 20:58:06
date, updated, 2015-02-16 20:58:06
item: 2015-02-16 20:58:06, dtype: date
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, updated_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
row_num: 1, row: (1, cartodb_id                                                           1287
created_at                                            2015-02-17 18:36:45
depth                                                                25.6
dmin                                                                  NaN
gap                                                                 248.4
id                                                             ak11509593
latitude                                                          53.6875
longitude                                                        -164.415
mag                                                                   2.3
magtype                                                                ml
net                                                                    ak
nst                                                                    15
place                                         102km ESE of Akutan, Alaska
rms                                                                  0.35
the_geom                0101000020E6100000D734EF38458D64C00000000000D8...
the_geom_webmercator    0101000020110F0000CA46ED0A667471C1535C38528620...
time                                                  2015-02-12 11:25:16
type                                                           earthquake
updated                                               2015-02-16 20:58:06
updated_at                                            2015-02-17 18:36:45
Name: 1, dtype: object)
dtype: int64, colname: 1383
int, cartodb_id, 1383
item: 1383, dtype: int
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, created_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
dtype: float64, colname: 1.3
numeric, depth, 1.3
item: 1.3, dtype: numeric
dtype: float64, colname: nan
numeric, dmin, nan
item: nan, dtype: numeric
dtype: float64, colname: nan
numeric, gap, nan
item: nan, dtype: numeric
dtype: object, colname: ak11506296
text, id, ak11506296
item: ak11506296, dtype: text
dtype: float64, colname: 61.2932
numeric, latitude, 61.2932
item: 61.2932, dtype: numeric
dtype: float64, colname: -152.2508
numeric, longitude, -152.2508
item: -152.2508, dtype: numeric
dtype: float64, colname: 2.4
numeric, mag, 2.4
item: 2.4, dtype: numeric
dtype: object, colname: ml
text, magtype, ml
item: ml, dtype: text
dtype: object, colname: ak
text, net, ak
item: ak, dtype: text
dtype: float64, colname: nan
numeric, nst, nan
item: nan, dtype: numeric
dtype: object, colname: 84km NW of Nikiski, Alaska
text, place, 84km NW of Nikiski, Alaska
item: 84km NW of Nikiski, Alaska, dtype: text
dtype: float64, colname: 0.64
numeric, rms, 0.64
item: 0.64, dtype: numeric
dtype: object, colname: 0101000020E6100000C7BAB88D060863C0F697DD9387A54E40
text, the_geom, 0101000020E6100000C7BAB88D060863C0F697DD9387A54E40
item: 0101000020E6100000C7BAB88D060863C0F697DD9387A54E40, dtype: text
dtype: object, colname: 0101000020110F0000DB3E7618D02970C1A4DC3E68DA946041
text, the_geom_webmercator, 0101000020110F0000DB3E7618D02970C1A4DC3E68DA946041
item: 0101000020110F0000DB3E7618D02970C1A4DC3E68DA946041, dtype: text
dtype: datetime64[ns], colname: 2015-02-12 03:37:53
date, time, 2015-02-12 03:37:53
item: 2015-02-12 03:37:53, dtype: date
dtype: object, colname: earthquake
text, type, earthquake
item: earthquake, dtype: text
dtype: datetime64[ns], colname: 2015-02-16 21:00:35
date, updated, 2015-02-16 21:00:35
item: 2015-02-16 21:00:35, dtype: date
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, updated_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
row_num: 2, row: (2, cartodb_id                                                           1383
created_at                                            2015-02-17 18:36:45
depth                                                                 1.3
dmin                                                                  NaN
gap                                                                   NaN
id                                                             ak11506296
latitude                                                          61.2932
longitude                                                        -152.251
mag                                                                   2.4
magtype                                                                ml
net                                                                    ak
nst                                                                   NaN
place                                          84km NW of Nikiski, Alaska
rms                                                                  0.64
the_geom                0101000020E6100000C7BAB88D060863C0F697DD9387A5...
the_geom_webmercator    0101000020110F0000DB3E7618D02970C1A4DC3E68DA94...
time                                                  2015-02-12 03:37:53
type                                                           earthquake
updated                                               2015-02-16 21:00:35
updated_at                                            2015-02-17 18:36:45
Name: 2, dtype: object)
dtype: int64, colname: 1940
int, cartodb_id, 1940
item: 1940, dtype: int
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, created_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
dtype: float64, colname: 22.8
numeric, depth, 22.8
item: 22.8, dtype: numeric
dtype: float64, colname: nan
numeric, dmin, nan
item: nan, dtype: numeric
dtype: float64, colname: nan
numeric, gap, nan
item: nan, dtype: numeric
dtype: object, colname: ak11505769
text, id, ak11505769
item: ak11505769, dtype: text
dtype: float64, colname: 60.6334
numeric, latitude, 60.6334
item: 60.6334, dtype: numeric
dtype: float64, colname: -149.4696
numeric, longitude, -149.4696
item: -149.4696, dtype: numeric
dtype: float64, colname: 1.8
numeric, mag, 1.8
item: 1.8, dtype: numeric
dtype: object, colname: ml
text, magtype, ml
item: ml, dtype: text
dtype: object, colname: ak
text, net, ak
item: ak, dtype: text
dtype: float64, colname: nan
numeric, nst, nan
item: nan, dtype: numeric
dtype: object, colname: 45km WSW of Whittier, Alaska
text, place, 45km WSW of Whittier, Alaska
item: 45km WSW of Whittier, Alaska, dtype: text
dtype: float64, colname: 0.59
numeric, rms, 0.59
item: 0.59, dtype: numeric
dtype: object, colname: 0101000020E6100000744694F606AF62C0A9A44E4013514E40
text, the_geom, 0101000020E6100000744694F606AF62C0A9A44E4013514E40
item: 0101000020E6100000744694F606AF62C0A9A44E4013514E40, dtype: text
dtype: object, colname: 0101000020110F000075B85AF873BC6FC12C564EFEF54A6041
text, the_geom_webmercator, 0101000020110F000075B85AF873BC6FC12C564EFEF54A6041
item: 0101000020110F000075B85AF873BC6FC12C564EFEF54A6041, dtype: text
dtype: datetime64[ns], colname: 2015-02-10 05:22:34
date, time, 2015-02-10 05:22:34
item: 2015-02-10 05:22:34, dtype: date
dtype: object, colname: earthquake
text, type, earthquake
item: earthquake, dtype: text
dtype: datetime64[ns], colname: 2015-02-10 05:44:46
date, updated, 2015-02-10 05:44:46
item: 2015-02-10 05:44:46, dtype: date
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, updated_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
row_num: 3, row: (3, cartodb_id                                                           1940
created_at                                            2015-02-17 18:36:45
depth                                                                22.8
dmin                                                                  NaN
gap                                                                   NaN
id                                                             ak11505769
latitude                                                          60.6334
longitude                                                         -149.47
mag                                                                   1.8
magtype                                                                ml
net                                                                    ak
nst                                                                   NaN
place                                        45km WSW of Whittier, Alaska
rms                                                                  0.59
the_geom                0101000020E6100000744694F606AF62C0A9A44E401351...
the_geom_webmercator    0101000020110F000075B85AF873BC6FC12C564EFEF54A...
time                                                  2015-02-10 05:22:34
type                                                           earthquake
updated                                               2015-02-10 05:44:46
updated_at                                            2015-02-17 18:36:45
Name: 3, dtype: object)
dtype: int64, colname: 2817
int, cartodb_id, 2817
item: 2817, dtype: int
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, created_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
dtype: float64, colname: 4.6
numeric, depth, 4.6
item: 4.6, dtype: numeric
dtype: float64, colname: nan
numeric, dmin, nan
item: nan, dtype: numeric
dtype: float64, colname: nan
numeric, gap, nan
item: nan, dtype: numeric
dtype: object, colname: ak11506661
text, id, ak11506661
item: ak11506661, dtype: text
dtype: float64, colname: 51.5992
numeric, latitude, 51.5992
item: 51.5992, dtype: numeric
dtype: float64, colname: -173.7764
numeric, longitude, -173.7764
item: -173.7764, dtype: numeric
dtype: float64, colname: 1.7
numeric, mag, 1.7
item: 1.7, dtype: numeric
dtype: object, colname: ml
text, magtype, ml
item: ml, dtype: text
dtype: object, colname: ak
text, net, ak
item: ak, dtype: text
dtype: float64, colname: nan
numeric, nst, nan
item: nan, dtype: numeric
dtype: object, colname: 72km SSE of Atka, Alaska
text, place, 72km SSE of Atka, Alaska
item: 72km SSE of Atka, Alaska, dtype: text
dtype: float64, colname: 0.32
numeric, rms, 0.32
item: 0.32, dtype: numeric
dtype: object, colname: 0101000020E6100000A913D044D8B865C0B1E1E995B2CC4940
text, the_geom, 0101000020E6100000A913D044D8B865C0B1E1E995B2CC4940
item: 0101000020E6100000A913D044D8B865C0B1E1E995B2CC4940, dtype: text
dtype: object, colname: 0101000020110F0000281AC2C5D37272C1F48C31664AAA5941
text, the_geom_webmercator, 0101000020110F0000281AC2C5D37272C1F48C31664AAA5941
item: 0101000020110F0000281AC2C5D37272C1F48C31664AAA5941, dtype: text
dtype: datetime64[ns], colname: 2015-02-06 16:04:07
date, time, 2015-02-06 16:04:07
item: 2015-02-06 16:04:07, dtype: date
dtype: object, colname: earthquake
text, type, earthquake
item: earthquake, dtype: text
dtype: datetime64[ns], colname: 2015-02-12 18:15:29
date, updated, 2015-02-12 18:15:29
item: 2015-02-12 18:15:29, dtype: date
dtype: datetime64[ns], colname: 2015-02-17 18:36:45
date, updated_at, 2015-02-17 18:36:45
item: 2015-02-17 18:36:45, dtype: date
row_num: 4, row: (4, cartodb_id                                                           2817
created_at                                            2015-02-17 18:36:45
depth                                                                 4.6
dmin                                                                  NaN
gap                                                                   NaN
id                                                             ak11506661
latitude                                                          51.5992
longitude                                                        -173.776

In [10]:
df_from_query.head()

,created_at,depth,dmin,gap,id,latitude,longitude,mag,magtype,net,nst,place,rms,the_geom,the_geom_webmercator,time,type,updated,updated_at
cartodb_id,,,,,,,,,,,,,,,,,,,
601,2015-02-17 18:36:45,8.5026,0.045,81.77000,nn00482982,39.3918,-119.8228,2.2,ml,nn,11.0,"15km S of Reno, Nevada",0.1353,0101000020E610000086C954C1A8F45DC052499D8026B2...,0101000020110F00000D079BA2FE7069C1A5D4B27DF739...,2015-02-15 01:35:33,earthquake,2015-02-15 17:21:54,2015-02-17 18:36:45
1287,2015-02-17 18:36:45,25.6000,NaN,248.39998,ak11509593,53.6875,-164.4147,23.0,ml,ak,15.0,"102km ESE of Akutan, Alaska",0.3500,0101000020E6100000D734EF38458D64C00000000000D8...,0101000020110F0000CA46ED0A667471C1535C38528620...,2015-02-12 11:25:16,earthquake,2015-02-16 20:58:06,2015-02-17 18:36:45
1383,2015-02-17 18:36:45,1.3000,NaN,NaN,ak11506296,61.2932,-152.2508,24.0,ml,ak,NaN,"84km NW of Nikiski, Alaska",0.6400,0101000020E6100000C7BAB88D060863C0F697DD9387A5...,0101000020110F0000DB3E7618D02970C1A4DC3E68DA94...,2015-02-12 03:37:53,earthquake,2015-02-16 21:00:35,2015-02-17 18:36:45
1940,2015-02-17 18:36:45,22.8000,NaN,NaN,ak11505769,60.6334,-149.4696,18.0,ml,ak,NaN,"45km WSW of Whittier, Alaska",0.5900,0101000020E6100000744694F606AF62C0A9A44E401351...,0101000020110F000075B85AF873BC6FC12C564EFEF54A...,2015-02-10 05:22:34,earthquake,2015-02-10 05:44:46,2015-02-17 18:36:45
2817,2015-02-17 18:36:45,4.6000,NaN,NaN,ak11506661,51.5992,-173.7764,17.0,ml,ak,NaN,"72km SSE of Atka, Alaska",0.3200,0101000020E6100000A913D044D8B865C0B1E1E995B2CC...,0101000020110F0000281AC2C5D37272C1F48C31664AAA...,2015-02-06 16:04:07,earthquake,2015-02-12 18:15:29,2015-02-17 18:36:45

### update a column

In [8]:
df_from_query['mag'] = 10. * df_from_query['mag']

### sync the new column

In [9]:
df_from_query.sync_carto()

dtype: float64, colname: mag
item: 2.2, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 23.0, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 24.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 18.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 17.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 14.1, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 8.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 11.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 20.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 12.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
1 of 0
Sync completed successfully

In [10]:
df_from_query.head()

,cartodb_id,created_at,depth,dmin,gap,id,latitude,longitude,mag,magtype,net,nst,place,rms,the_geom,the_geom_webmercator,time,type,updated,updated_at
0,601,2015-02-17 18:36:45,8.5026,0.045,81.77000,nn00482982,39.3918,-119.8228,2.2,ml,nn,11.0,"15km S of Reno, Nevada",0.1353,0101000020E610000086C954C1A8F45DC052499D8026B2...,0101000020110F00000D079BA2FE7069C1A5D4B27DF739...,2015-02-15 01:35:33,earthquake,2015-02-15 17:21:54,2015-02-17 18:36:45
1,1287,2015-02-17 18:36:45,25.6000,NaN,248.39998,ak11509593,53.6875,-164.4147,23.0,ml,ak,15.0,"102km ESE of Akutan, Alaska",0.3500,0101000020E6100000D734EF38458D64C00000000000D8...,0101000020110F0000CA46ED0A667471C1535C38528620...,2015-02-12 11:25:16,earthquake,2015-02-16 20:58:06,2015-02-17 18:36:45
2,1383,2015-02-17 18:36:45,1.3000,NaN,NaN,ak11506296,61.2932,-152.2508,24.0,ml,ak,NaN,"84km NW of Nikiski, Alaska",0.6400,0101000020E6100000C7BAB88D060863C0F697DD9387A5...,0101000020110F0000DB3E7618D02970C1A4DC3E68DA94...,2015-02-12 03:37:53,earthquake,2015-02-16 21:00:35,2015-02-17 18:36:45
3,1940,2015-02-17 18:36:45,22.8000,NaN,NaN,ak11505769,60.6334,-149.4696,18.0,ml,ak,NaN,"45km WSW of Whittier, Alaska",0.5900,0101000020E6100000744694F606AF62C0A9A44E401351...,0101000020110F000075B85AF873BC6FC12C564EFEF54A...,2015-02-10 05:22:34,earthquake,2015-02-10 05:44:46,2015-02-17 18:36:45
4,2817,2015-02-17 18:36:45,4.6000,NaN,NaN,ak11506661,51.5992,-173.7764,17.0,ml,ak,NaN,"72km SSE of Atka, Alaska",0.3200,0101000020E6100000A913D044D8B865C0B1E1E995B2CC...,0101000020110F0000281AC2C5D37272C1F48C31664AAA...,2015-02-06 16:04:07,earthquake,2015-02-12 18:15:29,2015-02-17 18:36:45

In [11]:
df_from_query['mag'] = 20 * df_from_query['mag']

In [12]:
df_from_query.sync_carto()

dtype: float64, colname: mag
item: 44.0, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 460.0, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 480.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 360.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 340.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 282.0, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 160.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 220.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 400.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
dtype: float64, colname: dmin
item: nan, dtype: numeric
dtype: float64, colname: gap
item: nan, dtype: numeric
dtype: float64, colname: mag
item: 240.0, dtype: numeric
dtype: float64, colname: nst
item: nan, dtype: numeric
1 of 0
Sync completed successfully

In [ ]:
df_from_query['new_column'] = df_from_query['mag'] * 3.14